
/***************************************************************************/
/***********             CUSTOM CLASSES                 ********************/
/***************************************************************************/
html {
    font-size: clamp(14px, 1vw, 18px);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.wrapper {    
  flex: 1;
  display: flex;
  flex-direction: column;
}

/********  VIEW: Start (dev only) ***********/


/**********  layer-front"   **************/

div[data-uid="layer-front"] {   
    display: flex;
    z-index: 2000;
    padding: 10px 16px;
}
.structure-fullscreen
 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.content-centered {
    justify-content: center;
    align-items: center;
}


/*******************************************************/
.modal-activity {
    background-color: var(--background-white);
}


/******************* HOMEWORK CONTAINER *******************/
.hw-header {
    flex: 2;
}
.hw-main {
    flex: 14;
}
.hw-footer {
    flex: 4;
}


/**************** HOMEWORK MAIN ********************/
.hw-main-instruction {
    flex: 1;
    font-size: 1.6rem;
    padding: 0px 10px 16px 10px;
}
.hw-main-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    

}

.hw-main-question,
.hw-main-response {
    flex: 0 1 auto;
}


/**************** HOMEWORK MAIN SECTION LEFT ********************/

.hw-main-question-body > * {
    object-fit: contain;
    max-width: 460px;
}


/**************** HOMEWORK MAIN SECTION RIGHT ********************/
.hw-main-response-text {
    font-size: 1.4rem;
    margin-bottom: 12px;
}
.hw-main-response {
    padding: 16px;
}

.response-container {
    min-width: 300px;
    max-width: 800px;
}

/***************** QUESTION TYPES ********************************/

/** Multiple Choice **/
.multiple-choice-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.multiple-choice-item {
    padding: 10px;
    max-width: 500px;
    min-width: 300px;
    word-wrap: break-word;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
    cursor: pointer;
}

/** Fill Blanks ***/
.fill-blanks-container {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}
.fill-blanks-item {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    
}
.fill-blanks-inputItem {
    padding: 0px 6px 0px 6px;
    margin: 0px 2px 0px 6px;
    font-size: 1.2rem;
    background-color: transparent;
    color: #07328e;
    font-family: var(--font-family-base);
    border: none;
    border-bottom: 2px solid #999;
    outline: none;
    box-shadow: none;
}
.fill-blanks-inputItem:focus,
.fill-blanks-inputItem:focus-visible {
    border: none;
    border-bottom: 2px solid #999;
    outline: none;
    box-shadow: none;
}


/** Order Items ***/
.order-items-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;
}
.order-item {
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: grab;
}

/***************************************************************************/
/***********       CLASSES CASCADED LAST          *************************/
/***************************************************************************/
.nodisplay {
   display: none !important;
}

.novisible {
    visibility: hidden;
}

* {
    outline: 0px solid limegreen;
}

/***************************************************************************/
/***********         RESPONSIVE MEDIA QUERIES     *************************/
/***************************************************************************/

@media screen and (max-width: 1400px) {
    .modal-activity {
        max-width: 1600px;
    }
}

@media screen and (max-width: 1280px) {
    .modal-activity {
        background-color: rgb(244, 255, 244);
    }
}

@media screen and (max-width: 1025px){
    .modal-activity {
        background-color: rgb(250, 250, 255);
    }
}


@media screen and (max-width: 640px){
    .modal-activity {
        background-color: rgb(255, 248, 249);
    }
}


@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 375px) {
}
